---
---

<footer>
  <p>Made with 🦞 in Maine</p>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-weight: 600;
      font-size: 14px;
      color: var(--beige);
    }
  }
</style>
