body {
    background-image: url(../assets/for-map.jpeg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    /* background-repeat: repeat-y; */
    display: flex;
    flex-direction: column;
    
}

/* .header-info {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 20px;

} */

#user-image {
    width: 100px;
    border-radius: 50px;
}

.header {
    display: flex;
    
}

#quest-links {
    display: flex;
    flex-direction: column;
}
